html,
body {
  height: 100%;
}


.center_title {
    display: flex;
    justify-content: center;
    border: 0px;
    width: 100%;
}


.form-signin {
  max-width: 330px;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-warning {
    --bd-violet-bg: #ffc107;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-color);
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0.25;
}


img {
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

img:hover {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

img:active {
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
}

.mb-4 {
    display: flex;
    margin: 0 auto;
}